@tailwind base;
@tailwind components;
@tailwind utilities;

.bgColor {
  background: linear-gradient(to right, #6a135f, #ea0f88);
}
.textColor {
  background: linear-gradient(to right, #631558, #ff249c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
